.card {
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid #bfbfbf;
  display: grid;
  grid-template-columns: 1fr 100px;
}
.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.2rem 0 .5rem;
}
.articleTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem .5rem .9rem;
}
.tag {
  display: inline-block;
  color: #5f5f5f;
  margin-right: .7rem;
  margin-bottom: .3rem;
  font-size: .9rem;
}
.img {
  width: 100%;
}
.thumbnails {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.thumbnails img {
  width: 100%;
  max-height: 250px;
}

.iconRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
}
.iconRow svg {
  color: var(--primary-color);
}
.iconRow a {
  inline-size: calc(100% - 0.8rem);
  overflow-wrap: break-word;
}

.cardLoadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  color: var(--primary-color);
  cursor: pointer;
}