.navInfo {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.logo {
  margin: 2rem;
}
.navInfo h1 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.navInfo svg {
  color: #229662;
}
.navInfo img {
  width: 80%;
}
.navInfo a {
  text-align: center;
}

.navInfo header,
.navInfo main {
  text-align: center;
}
.navInfo footer {
  font-size: .8rem;
  color: #888;
  user-select: none;
}
