.slidePane {
  position: fixed;
  width: 100vw;
  max-width: 650px;
  height: calc(100vh - 7rem);
  padding: .4rem;
  background-color: #fff;
  transition: top .26s ease, left .26s ease, bottom .26s ease;
  overflow-y: auto;
}
.posTop { top: -100vh; left: 0; }
.posTopActive { top: -100vh; }

.posLeft { left: -100vw; top: 4rem; }
.posLeftActive { left: 0; }

.posBottom { bottom: -100vh; left: 0; }
.posBottomActive { bottom: 3rem; }

@media (min-width: 650px) {
  .slidePane {
    max-width: 360px;
  }
}

.layer1 { z-index: 210; }
.layer2 { z-index: 220; }
.layer3 { z-index: 230; }

.content {
  height: calc(100% - 2.5rem);
  overflow-y: auto;
}
.nav {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -1px 2px 1px rgba(0,0,0,.15);
}
.navBtn {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-background-color);
  width: 6.5rem;
  border-radius: 5px;
  padding: 0.4rem;
  margin-top: 0.4rem;
  text-align: center;
  cursor: pointer;
}
.navBtn svg,
.navBtnLight svg {
  margin-top: 0.2rem;
}
.navBtnLight {
  width: 3rem;
  padding: 0.4rem;
  margin-top: 0.4rem;
  text-align: center;
  cursor: pointer;
}
.navBtnEmpty {
  width: 6.5rem;
  padding: 0.4rem;
  margin-top: 0.4rem;
}